@font-face {
    font-family: 'Asparagus Sprouts';
    src: url('AsparagusSprouts.woff2') format('woff2'),
        url('AsparagusSprouts.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

