@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animated {
        @apply transition ease-in-out transform-gpu;
    }

    .border-normal {
        @apply border-[0.34vw] sm:border-[0.255vw] md:border-[0.17vw] border-black
    }

    .border-error {
        @apply border-[0.5vw] sm:border-[0.375vw] md:border-[0.25vw] border-rose-500
    }

    .border-thin {
        @apply border-[0.24vw] sm:border-[0.18vw] md:border-[0.12vw] border-black
    }

    .text-cmd {
        @apply text-[4vw] sm:text-[3vw] md:text-[2vw] xl:text-[1.5vw]
    }

    .text-csm {
        @apply text-[3vw] sm:text-[2vw] md:text-[1.5vw] xl:text-[1vw]
    }

    .text-cxs {
        @apply text-[2vw] sm:text-[1.5vw] md:text-[1vw] xl:text-[0.75vw]
    }

    .text-h1 {
        @apply text-[6vw] sm:text-[3vw] xl:text-[1.5vw]
    }

    .text-h2 {
        @apply text-[5vw] sm:text-[2.5vw] xl:text-[1.25vw]
    }

    .interactive {
        @apply animated hover:scale-[105%]
    }

    .clickable {
        @apply interactive active:scale-[110%] cursor-pointer
    }
}

::-webkit-scrollbar {
    width: 0;
}