<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/font/stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block head %}{% endblock %}
</head>
<body class="m-0">
<div class="w-screen h-screen">
    <div class="fixed flex justify-between w-screen h-20 bg-zinc-800 p-4 z-[999]">
        <div class="flex">
            <p class="text-5xl text-white font-dmecc">Volunteer</p>
            <p class="text-3xl text-zinc-200 font-dmecc ml-4 self-center">{% block current_page %}{% endblock %}</p>
        </div>
        <div class="flex">
            <img class="w-12 h-12" src="{{ url_for('static', path='/img/ball.png') }}">
        </div>
    </div>
    <div class="flex justify-center w-screen h-auto bg-balls pt-20 overflow-x-hidden">
        {% block content %}{% endblock %}
    </div>
<!--hello children-->
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
        integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block body %} {% endblock %}
</body>
</html>