{% extends "base.html" %}
{% block title %}Community{% endblock %}
{% block current_page %}Community{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/flag/css/flag-icons.min.css') }}">
{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full px-[5vw] py-[3vw] gap-[3vw]">
        <div class="w-[90vw] h-[120vw] sm:h-[45vw] md:w-[43.5vw] md:h-[58vw] xl:h-[21.75vw] bg-white border-normal group animated sm:hover:scale-[105%]
            grid grid-cols-1 grid-rows-2 sm:grid-rows-6 sm:grid-cols-3 h-full w-full md:grid-cols-2 md:grid-rows-3 xl:grid-rows-6 xl:grid-cols-3 p-[5vw] gap-[5vw]
            sm:gap-[2vw] sm:p-[0vw] sm:pr-[2vw] sm:py-[2vw] md:p-[2.5vw] md:gap-[2.5vw] xl:gap-[1vw] xl:p-[0vw] xl:pr-[1vw] xl:py-[1vw]">
            <div class="bg-red-500"></div>
            <div class="overflow-y-scroll overflow-x-hidden border-normal interactive">
                <table class="relative table-fixed text-csm border-separate border-spacing-0 h-full w-full">
                    <thead class="text-left text-cxs">
                    <tr>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[7%]">No.</th>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[38%]">Name</th>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[15%]">School</th>
                        <th class="border-b-2 text-bold sticky top-0 bg-white w-[5%]">Org</th>
                        <th class="border-b-2 text-bold sticky top-0 bg-white w-[5%]">Loc</th>
                        <th class="border-b-2 text-bold sticky top-0 bg-white w-[5%]">Lvl</th>
                        <th class="border-b-2 text-bold sticky top-0 bg-white w-[5%]">Rnk</th>
                        <th class="border-b-2 text-bold sticky top-0 bg-white w-[5%]">Yrs</th>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[15%]">Hrs</th>
                    </tr>
                    </thead>
                    <tbody id="top-volunteers" class="overflow-y-scroll">
                    <tr>
                        <td></td>
                        <td class="border-b-2 px-[2vw] whitespace-nowrap">Please enable javascript</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-[90vw] h-[30vw] md:w-[43.5vw] md:h-[58vw] xl:h-[21.75vw] bg-white border-normal group animated sm:hover:scale-[105%]
            grid grid-cols-5 grid-rows-1  h-full w-full p-[5vw] gap-[2vw]">
            <div>
                <div class="border-normal rounded-full aspect-square h-auto w-full grid">
                    <p class="text-cmd place-self-center">Test</p>
                </div>
                <p class="text-center text-cxs pt-[1vw]">Total Company Hours</p>
            </div>
            <div>
                <div class="border-normal rounded-full aspect-square h-auto w-full grid">
                    <p class="text-cmd place-self-center">Test</p>
                </div>
                <p class="text-center text-cxs pt-[1vw]">Company Hours This Year</p>
            </div>
            <div>
                <div class="border-normal rounded-full aspect-square h-auto w-full grid">
                    <p class="text-cmd place-self-center">Test</p>
                </div>
                <p class="text-center text-cxs pt-[1vw]">Current Volunteers</p>
            </div>
            <div>
                <div class="border-normal rounded-full aspect-square h-auto w-full grid">
                    <p class="text-cmd place-self-center">Test</p>
                </div>
                <p class="text-center text-cxs pt-[1vw]">Volunteer Origins</p>
            </div>
            <div>
                <div class="border-normal rounded-full aspect-square h-auto w-full grid">
                    <p class="text-cmd place-self-center">Test</p>
                </div>
                <p class="text-center text-cxs pt-[1vw]">International Locations</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <script src="{{ url_for('static', path='/js/community.js') }}"></script>
{% endblock %}