{% extends "base.html" %}
{% block title %}Portal{% endblock %}
{% block current_page %}Portal{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full px-[5vw] py-[3vw] gap-[3vw]">
        <div class="w-[90vw] h-[120vw] sm:h-[45vw] md:w-[43.5vw] md:h-[58vw] xl:h-[21.75vw] bg-white border-normal group animated sm:hover:scale-[105%] order-1
            grid grid-cols-1 grid-rows-5 sm:grid-rows-6 sm:grid-cols-3 h-full w-full md:grid-cols-1 md:grid-rows-5 xl:grid-rows-6 xl:grid-cols-3 overflow-hidden">
            <div class="row-span-2 sm:row-span-4 sm:col-span-1 sm:p-[2vw] md:p-[0vw] md:row-span-2 md:col-span-1 xl:row-span-4 xl:col-span-1 xl:p-[1vw] clickable">
                <img class="overflow-hidden object-cover h-full w-full sm:rounded-full sm:border-normal md:rounded-none md:border-0 xl:rounded-full xl:border-normal"
                     onerror="this.onerror=null; this.src='{{ url_for('static', path='/img/pfp/default.jpg') }}'"
                     src="{{ url_for('static', path='/img/pfp/' + user.id|string + '.jpg') }}">
            </div>
            <div class="col-span-1 row-span-1 px-[3vw] py-[2vw] sm:order-3 sm:row-span-2 sm:text-center
                md:order-2 md:row-span-1 md:text-left md:px-[1.5vw] md:py-[1vw] xl:order-3 xl:row-span-2 xl:text-center">
                <p class="text-h1 font-bold">{{ user.first_name }}
                    {{ user.last_name }}</p>
                <p class="text-h2">{{ user.rank }}</p>
            </div>
            <div class="row-span-1 px-[3vw] py-[2vw] sm:order-2 sm:col-span-2 sm:row-span-4 md:order-3 md:col-span-1 md:row-span-1 md:px-[1.5vw] md:py-[1vw]
                xl:order-2 xl:col-span-2 xl:row-span-4">
                <p class="text-cmd">
                    {% if user.school == None %}Enter in profile!{% else %}
                        {{ user.school.name }}{% endif %}<br>
                    Email: {{ user.email }}<br>
                    Volunteer Since: {% if user.start_date == None %}Enter in
                    profile!{% else %}{{ user.start_date }}{% endif %}<br>
                    {% if user.school == None %}Enter your school in profile!{% else %}
                        {{ user.school.region.abbreviation }}
                        {{ user.school.region.country }}{% endif %}<br>
                    {% if user.grade_level == None %}Enter your grade in profile!{% else %}
                        {{ (now.month > 5)|int + 12 - user.grade_level + now.year }}{% endif %}<br>
                </p>
            </div>
            <div class="self-center row-span-1 select-none
                grid grid-rows-1 grid-cols-4 h-full w-full sm:order-4 sm:col-span-2 sm:grid-cols-5 md:grid-cols-4 md:col-span-1
                xl:order-4 xl:col-span-2 xl:grid-cols-5">
                <div class="col-span-3 sm:col-span-4 p-[3vw] translate-y-[5vw] md:col-span-3 md:translate-y-[2vw] xl:col-span-4">
                    <div class="grid grid-rows-1 grid-cols-1 h-full w-full">
                        <div class="place-self-center w-full h-[2vw] md:h-[1vw] border-normal">
                            <div class="bg-black h-full"
                                 style="width: {{ 100 * (filled_entries) / 17 }}%">
                            </div>
                            <p class="animated text-right opacity-0 group-hover:opacity-100 -translate-y-[7vw] text-csm
                                sm:-translate-y-[5vw] md:-translate-y-[3vw] xl:-translate-y-[2.5vw]">
                                {% if filled_entries < 17 %}Fill in your profile!{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="animated hover:scale-[115%] active:scale-[120%] text-center place-self-center">
                    <a class="text-[20vw] sm:text-[10vw] xl:text-[5vw]"
                       href="/profile">></a>
                </div>
            </div>
        </div>
        <form id="submit-volunteer-record" class="h-auto w-full order-2 xl:order-3">
            <div class="w-[90vw] h-[120vw] sm:h-[45vw] md:w-[43.5vw] md:h-[58vw] xl:h-[21.75vw] bg-white border-normal group animated sm:hover:scale-[105%]
            grid grid-cols-2 grid-rows-3 sm:grid-rows-6 sm:grid-cols-3 h-full w-full md:grid-cols-2 md:grid-rows-3 xl:grid-rows-6 xl:grid-cols-3 p-[5vw] gap-[5vw]
            sm:gap-[2vw] sm:p-[0vw] sm:pr-[2vw] sm:py-[2vw] md:p-[2.5vw] md:gap-[2.5vw] xl:gap-[1vw] xl:p-[0vw] xl:pr-[1vw] xl:py-[1vw]">
                <div class="row-span-1 sm:row-span-6 sm:col-span-1 sm:p-[2vw] md:p-[0vw] md:row-span-1 md:col-span-1 xl:row-span-6 xl:col-span-1 xl:p-[1vw] select-none clickable">
                    <div class="grid grid-rows-1 grid-cols-1 h-full w-full">
                        <div class="rounded-full aspect-square self-center overflow-hidden">
                            <div class="grid grid-cols-2 grid-rows-1 w-full h-full">
                                <div class="overflow-hidden">
                                    <div class="grid grid-cols-2 grid-rows-1 w-[200%] h-full rotate-[{{ 180 - (360 - (360 * ((total_hours % 100)/ 100)))|int }}deg]">
                                        <div></div>
                                        <div class="bg-black"></div>
                                    </div>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="grid grid-cols-2 grid-rows-1 w-[200%] h-full -rotate-[{{ 180 - (360 * ((total_hours % 100) / 100))|int }}deg] -translate-x-[50%] transform-gpu">
                                        <div></div>
                                        <div class="bg-black"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-rows-1 grid-cols-1 rounded-full border-normal aspect-square h-full w-full -translate-y-[100%] transform-gpu
                                p-[1.4vw] sm:p-[1vw] md:p-[0.7vw] xl:p-[0.5vw]">
                                <div class="bg-white rounded-full border-normal">
                                    <div class="grid grid-rows-5 grid-cols-1 h-full w-full p-[2vw] sm:p-[1.5vw] md:p-[1vw] xl:p-[0.75vw]">
                                        <p class="text-[16vw] sm:text-[10vw] md:text-[7.5vw] xl:text-[4.5vw] text-center self-end leading-none row-span-3">{{ total_hours }}</p>
                                        <p class="text-cmd text-center self-center leading-none">
                                            Hours</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-none leading-none text-center self-stretch sm:col-span-2 sm:row-span-1 md:col-span-1 md:row-span-1
                    grid grid-rows-2 grid-cols-3 w-full h-full gap-[5vw] sm:grid-cols-6 sm:grid-rows-1 md:gap-[2.5vw] md:grid-rows-2 md:grid-cols-3
                    xl:grid-cols-6 xl:grid-rows-1 xl:col-span-2 xl:row-span-1">
                    <button type="submit"
                            class="text-cmd text-bold leading-none w-full h-full col-span-3 border-normal clickable sm:order-last xl:order-last">
                        Add
                    </button>
                    <div class="clickable select-none border-normal"
                         id="decrement-hours">
                        <p class="text-[10vw] sm:text-[4vw] md:text-[5vw] xl:text-[2vw] leading-none text-center">
                            &minus;</p>
                    </div>
                    <div class="place-self-center">
                        <p id="hours-volunteered"
                           class="text-[10vw] sm:text-[5vw] xl:text-[2.5vw] leading-none text-center">0</p>
                        <p class="text-csm">Hours</p>
                    </div>
                    <div class="clickable select-none border-normal"
                         id="increment-hours">
                        <p class="text-[10vw] sm:text-[4vw] md:text-[5vw] xl:text-[2vw] leading-none text-center">
                            &plus;</p>
                    </div>
                </div>
                <div class="col-span-2 row-span-2 grid grid-rows-5 grid-cols-3 w-full h-full gap-[3vw]
                    sm:row-span-5 sm:gap-[1vw] md:row-span-2 md:gap-[1.5vw] xl:row-span-5 xl:gap-[0.5vw]">
                    <div class="text-left self-center">
                        <label for="volunteer-record-type"
                               class="text-cmd">Type:</label>
                    </div>
                    <div class="col-span-2 interactive">
                        <select id="volunteer-record-type" name="volunteer-record-type"
                                class="w-full h-full text-cmd leading-none border-normal">
                            <option value="-1"
                                    class="text-cmd leading-none">Select a
                                type
                            </option>
                            <option value="team"
                                    class="text-cmd leading-none">Team
                            </option>
                            <option value="event"
                                    class="text-cmd leading-none">Event
                            </option>
                        </select>
                    </div>
                    <div class="col-span-1 self-center">
                        <label for="activity-choice"
                               class="text-cmd leading-none">Activity:</label>
                    </div>
                    <div class="col-span-2 interactive">
                        <select id="activity-choice" name="activity-choice"
                                class="w-full h-full text-cmd leading-none border-normal">
                            <option value="-1"
                                    class="text-cmd leading-none">Select an
                                activity type
                            </option>
                        </select>
                    </div>
                    <div class="col-span-1 self-center">
                        <label for="position-choice"
                               class="text-cmd leading-none">Position:</label>
                    </div>
                    <div class="col-span-2 interactive">
                        <select id="position-choice" name="position-choice"
                                class=" w-full h-full text-cmd leading-none border-normal">
                            <option value="-1"
                                    class="text-cmd leading-none">Select an
                                activity
                            </option>
                        </select>
                    </div>
                    <div class="col-span-3 row-span-2 interactive">
                        <label for="reflection"></label>
                        <textarea id="reflection"
                                  class="h-full w-full border-normal p-[3vw] sm:p-[1vw] xl:p-[0.5vw] text-cmd"
                                  placeholder="Reflection: 2-3 Sentences"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="w-[90vw] h-[120vw] sm:h-[45vw] xl:w-[43.5vw] xl:h-[46.5vw] xl:row-span-2 bg-white border-normal group animated sm:hover:scale-[105%]
            grid grid-cols-1 grid-rows-2 sm:grid-cols-2 sm:grid-rows-1 overflow-hidden order-3 xl:order-2 xl:grid-cols-1 xl:grid-rows-2 p-[5vw] gap-[5vw]
            sm:p-[2vw] sm:gap-[2vw] md:p-[2.5vw] md:gap-[2.5vw] xl:p-[1vw] xl:gap-[1vw]">
            <div class="overflow-y-scroll overflow-x-hidden border-normal clickable">
                <table class="relative table-fixed text-csm border-separate border-spacing-0 h-full w-full">
                    <thead class="text-left text-cxs">
                    <tr>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[20%]">Date</th>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[40%]">Activity</th>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[25%]">Position</th>
                        <th class="border-b-2 px-[2vw] text-bold sticky top-0 bg-white w-[15%]">Hours</th>
                    </tr>
                    </thead>
                    <tbody id="recent-entries" class="overflow-y-scroll">
                    <tr>
                        <td></td>
                        <td class="border-b-2 px-[2vw] whitespace-nowrap">Please enable javascript</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid grid-rows-5 grid-cols-2 h-full w-full gap-[3vw] sm:gap-[1.5vw] md:gap-[2vw] xl:gap-[1vw]">
                <div class="row-span-4 grid grid-cols-5 sm:grid-cols-4 grid-rows-5 gap-[1vw] sm:gap-[0.5vw] xl:grid-cols-6">
                    <div class="border-normal rounded-full aspect-square interactive self-center"></div>
                    <div class="grid col-span-4 sm:col-span-3 xl:col-span-5 clickable px-[2vw]">
                        <a class="text-csm md:text-cmd leading-none self-center" href="/internship-work">Alumni</a>
                    </div>
                    <div class="border-normal rounded-full aspect-square interactive self-center"></div>
                    <div class="grid col-span-4 sm:col-span-3 xl:col-span-5 clickable px-[2vw]">
                        <a class="text-csm md:text-cmd leading-none self-center" href="/internship-work">Internship</a>
                    </div>
                    <div class="border-normal rounded-full aspect-square interactive self-center"></div>
                    <div class="grid col-span-4 sm:col-span-3 xl:col-span-5 clickable px-[2vw]">
                        <a class="text-csm md:text-cmd leading-none self-center" href="/internship-work">Youth
                            Executive</a>
                    </div>
                    <div class="border-normal rounded-full aspect-square interactive self-center"></div>
                    <div class="grid col-span-4 sm:col-span-3 xl:col-span-5 clickable px-[2vw]">
                        <a class="text-csm md:text-cmd leading-none self-center" href="/internship-work">Team Member</a>
                    </div>
                    <div class="border-normal rounded-full aspect-square interactive self-center"></div>
                    <div class="grid col-span-4 sm:col-span-3 xl:col-span-5 clickable px-[2vw]">
                        <a class="text-csm md:text-cmd leading-none self-center" href="/training">Social Good</a>
                    </div>
                </div>
                <div class="row-span-4 grid grid-rows-4 gap-[3vw] sm:gap-[2vw] md:gap-[1.5vw] xl:gap-[1vw]">
                    <div class="grid border-normal clickable">
                        <a class="text-cmd sm:text-csm md:text-cmd leading-none place-self-center"
                           href="/request-internship">Internship</a>
                    </div>
                    <div class="grid border-normal clickable">
                        <a class="text-cmd sm:text-csm md:text-cmd leading-none place-self-center"
                           href="/request-recommendation">Recommendation</a>
                    </div>
                    <div class="grid border-normal clickable">
                        <a class="text-cmd sm:text-csm md:text-cmd leading-none place-self-center"
                           href="/more-opportunities">What next?</a>
                    </div>
                    <div class="grid border-normal clickable">
                        <a class="text-cmd sm:text-csm md:text-cmd leading-none place-self-center"
                           href="/request-certificate">Certificate</a>
                    </div>
                </div>
                <div class="col-span-2 bg-black">

                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block body %}
    <script src="{{ url_for('static', path='/js/portal.js') }}"></script>
{% endblock %}