{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block current_page %}Sign Up{% endblock %}
{% block content %}gi
    <form name="sign_up" method="POST">
        <br/>
        <h3 align="center">Sign Up</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name"
                   placeholder="Enter your first name (as it shows on your passport)" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name"
                   placeholder="Enter your last name (as it shows on your passport)" required>
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1"
                   placeholder="Enter your password" required>
        </div>
        <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input type="password" class="form-control" id="password2" name="password2"
                   placeholder="Confirm your password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}